# Data (raw + processed)
data/images/train
data/images/train_pre
data/images/val
data/images/val_pre

data/labels/train
data/labels/train_pre    
data/labels/val
data/labels/val_pre
**/WhatsApp*
*.csv

# Model weights and results
models/coin_detector/
results/model_labels
yolov8n.pt

# Python build and cache
__pycache__/
*.py[cod]
*.egg-info/
*.pkl

# Virtual environment (if inside project)
.env/
.venv/
env/
venv/

# Jupyter checkpts (if you ever add notebooks)
.ipynb_checkpoints/

# System files
.DS_Store
Thumbs.db
*.cache
